{% csrf_token %}
{{ form.as_p }}
{#    <label>Название:</label><br/>#}
{#    <input type="text" name="title" value={{ task.title }}><br/>#}
{#    <label>Описание:</label><br/>#}
{#    <textarea type="text" name="description"/>{{ task.description }}</textarea><br/>#}
{#    <label>Статус:</label><br/>#}
{#    <p><select   >#}
{#    {% for stas,value in  stat1  %}#}
{#        <option >{{ value }}</option>#}
{#        {% endfor %}#}
{#   </select></p>#}
{#    <label>Дата выполнения:</label><br/>#}
{#    <input type="date" name="date" value="task.date"/><br/>#}
{#    <br/>#}
    <p><input type="submit" value="{{ text_btn }}"/></p>