
    {% csrf_token %}
    <label>Название:</label><br/>
    <input type="text" name="title"/><br/>
    <label>Описание:</label><br/>
    <input type="text" name="description"/><br/>
    <label>Статус:</label><br/>
    <p><select  name="status">
    {% for stat,value in status1 %}
        <option value="stat">{{ value }}</option>
        {% endfor %}
   </select></p>
    <label>Дата выполнения:</label><br/>
    <input type="text" name="date"/><br/>
    <br/>
    <p><input type="submit" value="{{ button_text  }}"/></p>
